*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.submitBtn {
  height: 100%;
  width: 20%;
  border: 0;
  /* border-top-right-radius: 5px; */
  border-bottom-right-radius: 5px;
}
.formInput {
  padding: 0 10px;
  width: 80%;
  height: 100%;
  border: 0;
  /* border-top-left-radius: 5px; */
  border-bottom-left-radius: 5px;
  outline: none;
}
.formInput :active {
  border: 0;
}

.commentForm {
  /* background-color: red; */
  height: 30px;
  width: 100%;
}
/* .inputAndSubmitBtnContainer{

} */
